/* basic styles */
:root {
    box-sizing: border-box;
    --system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', var(--system-font-stack);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 12px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

img {
    width: 24px;
    height: 24px;
    display: block;
}

.pfp-48 {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.pfp-72 {
    height: 72px;
    width: 72px;
    border-radius: 50%;
}

/* header styles */
header {
    font-weight: bold;
    padding: 16px 48px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.search {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    gap: 16px;
}

.search button {
    padding: 0;
    border: none;
    background: none;
}

.search input {
    border: none;
    border-radius: 24px;
    background-color: #e2e8f0;
    height: 32px;
    width: 600px;
    padding: 0 16px;
}

.user-info {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 24px;
    justify-self: end;
}

.user-info p {
    font-size: 18px;
}

.user-greeting {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 0px 24px;
}

.user-greeting img {
    grid-row: 1 / -1;
}

.user-greeting p:nth-child(2) {
    font-size: 14px;
    align-self: end;
}

.user-greeting p:nth-child(3) {
    font-size: 22px;
}

.action-buttons {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, max-content);
    gap: 24px;
}

.action-buttons button {
    background-color: #0284c7;
    border: none;
    color: white;
    height: 38px;
    width: 92px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
}

/* sidebar styles */
aside {
    position: relative;
    z-index: 1;
    background-color: #0284c7;
    font-weight: bold;
    font-size: 20px;
    padding: 24px;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    gap: 64px;
}

aside a {
    color: white;
    display: grid;
    gap: 24px;
    grid-template-columns: 24px max-content;
    place-items: center;
}

aside ul {
    display: grid;
    gap: 24px;
}

aside img {
    filter: invert(1);
}

.logo {
    height: 48px;
    width: 48px;
}

/* main styles */
main {
    padding: 24px;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 275px;
    gap: 24px;
}

.projects {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.project-card,
.announcements-card-container,
.trending-card-container {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-actions {
    place-self: end;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 24px;
}

.projects-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.project-card {
    border-left: solid orange 8px;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.card-text>p,
.announcement-card p,
.trending-card p:last-child {
    color: rgb(110, 110, 110);
}

.right {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-content: stretch;
}

.announcements-card-container,
.trending-card-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.announcement-card p {
    font-size: 12px;
}

.announcement-card:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
}

.announcement-card:not(:first-child) {
    padding-top: 12px;
}

.trending {
    font-size: 14px;
}

.trending-card {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 12px;
    align-content: start;
    align-items: center;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: min-content 1fr;
}