/* basic styles */
:root {
    box-sizing: border-box;
    --system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', var(--system-font-stack);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 24px;
    height: 24px;
}